@{
    ViewData["Message"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-4">
        <a href="../Catalogue"><img class="img-responsive" src="~/images/banner8.jpg" alt=""></a>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center"><strong>Contact Us</strong></h2>
        <form id="contact" action="" method="post">
            <br><br>

            <fieldset style="text-align: center;  min-width: 100%; width: 100%;">
                <input style="padding: 3px; width:80%; border:1px solid #CCC;" placeholder="Name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <br>
            <fieldset style="text-align: center; min-width: 100%; width: 100%;">
                <input style="padding: 3px; width:80%; border:1px solid #CCC;" placeholder="Email Address" type="email" tabindex="2" required>
            </fieldset>
            <br>
            <fieldset style="text-align: center; min-width: 100%; width: 100%;">
                <input style="padding: 3px; width:80%; border:1px solid #CCC;" placeholder="Phone Number" type="tel" tabindex="3" required>
            </fieldset>
            <br>
            <fieldset style="text-align: center; min-width: 100%; width: 100%;">
                <textarea style="padding: 3px; width:80%; height: 150px; border:1px solid #CCC;" placeholder="Type your Message Here...." tabindex="5" required></textarea>
            </fieldset>
            <br>
            <fieldset style="text-align: center">
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"
                        onclick="alert('Thank you for sending us a message! You will receive our response within next 3 business days.')">Send Message</button>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4">
        <a href="../Catalogue"><img class="img-responsive" src="~/images/banner7.jpg" alt=""></a>
    </div>
</div>
